@{
    ViewBag.Title = "Home Page";
}

<div id="header">
    <h1>Sesame Playground</h1>
</div>
<div id="map-canvas">
</div>
<div id="submit-point">
    <button id="drop">Add a Point</button>
    <label name="url">
        Content Link<label />
        <input name="url" type="text" id="enter-url" />
        <button id="save">Save</button>
</div>

