@{
    ViewBag.Title = "Home Page";
}

<div id="header" class="green">
    <div id="logo-box">
        <img src="~/Content/logo.svg" id="logo" />
    </div>
    <input id="pac-input" class="text-box" type="text" placeholder="Change location" autofocus>
</div>
<div id="map-canvas">
</div>

<div id="bottom-navigation">
    <div id="submit-point">
        <div id="drop" class="button pink"><h3>Add a Point</h3></div>
    </div>
    <div id='content-link'>
        <input placeholder="Insert link" name='url' type='text' id='enter-url' /><br>
        <div id='save' class="button pink"><h3>Save</h3></div>
    </div>
    <div id='success-navigation'>
        <h4 id="success-message">Saved Successfully</h4>
        <div class="full">
            <div id='share' class="half button pink left"><h3 class="no-space">Share Link</h3></div>
            <div id='close' class="half button pink right"><h3 class="no-space">Close</h3></div>
        </div>
    </div>
</div>

