<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      html, body, #map-canvas { height: 90%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi1sFx3VgBUUxe8r_16sbaGu46rJhnE70">
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id='divhere'>
    <div id="test">hello!</div>
  </div>
    <button id="drop">Drop Markers</button>
  </body>
</html>
